html, body, h1, 
html, body, h1, 
h1, h2, h3 {
    margin:0;
    padding: 0;
    border: 0;
}

:root {
    --size-12: 0.8rem;

    --fs-100: 12px;
    --fs-200: 16px;
    --fs-300: 24px;

    --fw-100: 100;

    --clr-neutral-100: hsl(30, 0%, 53%);
    --clr-neutral-200: hsl(180, 0%, 23%);
    --clr-neutral-300: hsl(0, 0%, 60%);

    --round-borders: bor ;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
}   

.container {
   
    margin-bottom: 24px;
    background-color: var(--clr-neutral-100);
    
}

.wrapper {
    display: grid;
    height: auto;
    background-color: var(--clr-neutral-200);  
}

.grid { 
    display: grid;
}

.container-heading {
    text-align: center;
    margin-bottom: 24px;
}

.three-up {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 20px;
    grid-gap: 4rem;
   
   
    /* Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */
  
    }

[class^="card-"] {
    background-color: red;
}

.card-heading {
    margin: auto;
    padding: 20px;
    display: block;
    text-align: center;
    width:150px;
}

.card {
    background-color: white;
    padding: 60px;
    border-radius: .5em;

}

.card ul {
    width: 100px;
    display: block;
    margin: auto;


}

.card li {
    font-size: var(--size-12);
    list-style-type: disc;
    list-style-position: inside ;
    padding: 20px;
}

.card a {
    text-decoration: none;
    color: var(--clr-neutral-200);
}